body {
  margin: 0 auto;
  background-color: #222;
}

main {
  background-color: #222;
  width: 1920px;
  max-width: 99%;
  display: flex;
  flex-direction: column;
  row-gap: 3.5vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding-top: 2.5%;
}

.image-display {
  width: 90%;
  height: 75vh;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;

  gap: 4%;
  overflow: hidden;
}

.Slide-display {
  width: 100%;
  height: 100%;
  border-radius: 3%; /*
  background-image: url(Assets/1.gif); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@keyframes slidein {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
    background-image: url(Assets/2.gif);
  }
}

@keyframes slideout {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 0% 100%;
    background-image: url(Assets/2.gif);
  }
}

img {
  width: 90%;
  height: 60%;
  border-radius: 2%;
  overflow: hidden;
}

.Image_1 {
  margin-top: -9.3%;

  position: absolute;
  z-index: auto;
  overflow: hidden;
}

.Image_2 {
  margin-top: -9.3%;

  position: absolute;
  z-index: auto;
  overflow: hidden;
}
.Image_3 {
  margin-top: -9.3%;

  position: absolute;
  z-index: auto;
  overflow: hidden;
}

.Image_4 {
  margin-top: -9.3%;

  z-index: auto;
  position: absolute;
  overflow: hidden;
}

.Text-bullets-container {
  position: relative;

  border: 2px green solid;
  width: 95%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Text-block1 {
  font-family: Arial, Helvetica;
  color: white;
  font-size: 1.7rem;
  height: 4%;
  margin-bottom: 3.7%;
  left: 4%;
  position: absolute;
  display: none;
}

.Text-block2 {
  font-family: Arial, Helvetica;
  color: white;

  font-size: 1.7rem;
  height: 4%;
  margin-bottom: 3.7%;
  left: 4%;
  position: absolute;
  display: none;
}

.Text-block3 {
  font-family: Arial, Helvetica;
  color: white;
  font-size: 1.7rem;
  height: 4%;
  margin-bottom: 3.7%;
  left: 4%;
  position: absolute;
  display: none;
}

.Text-block4 {
  font-family: Arial, Helvetica;
  color: white;
  font-size: 1.7rem;
  height: 4%;
  margin-bottom: 3.7%;
  left: 4%;
  position: absolute;
  display: none;
}

.Input1 {
  margin-bottom: 4.75%;
  left: 86.7%;
  position: absolute;
}

.Input2 {
  margin-bottom: 4.75%;
  left: 88.7%;
  position: absolute;
}

.Input3 {
  margin-bottom: 4.75%;
  left: 90.7%;
  position: absolute;
}

.Input4 {
  margin-bottom: 4.75%;
  left: 92.7%;
  position: absolute;
}

.Input1:checked ~ .Image_1 {
  display: inline;

  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-name: slideinn;
  z-index: 5;
}
.Input1:checked ~ .Text-block1 {
  display: inline;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-name: slideinnn;
  z-index: 5;
}

.Input2:checked ~ .Image_2 {
  display: inline;
  animation-duration: 0.3s;
  animation-name: slideinn;
  z-index: 5;
}

.Input2:checked ~ .Text-block2 {
  display: inline;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-name: slideinnn;
  z-index: 5;
}

.Input3:checked ~ .Image_3 {
  display: inline;
  animation-duration: 0.3s;
  animation-name: slideinn;
  z-index: 5;
}

.Input3:checked ~ .Text-block3 {
  display: inline;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-name: slideinnn;
  z-index: 5;
}

.Input4:checked ~ .Image_4 {
  display: inline;
  animation-duration: 0.3s;
  animation-name: slideinn;
  z-index: 5;
}

.Input4:checked ~ .Text-block4 {
  display: inline;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-name: slideinnn;
  z-index: 5;
}
/*
@keyframes slideout {
  from {
    margin-left: 31%;
  }
  to {
    margin-left: 0%;
  }
}
*/
@keyframes slideinn {
  from {
    width: 70%;
  }

  to {
    width: 90%;
  }
}

@keyframes slideinnn {
  from {
    left: 30%;
  }

  to {
    left: 4%;
  }
}

.Bullets-section {
  border: 2px red solid;
  width: 11.5%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-start;
}

input {
  border: hidden;
  background-color: rgb(20, 146, 204);
  border-radius: 50%;
  width: 1%;
  height: 2%;
  transition: ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input:hover {
  transition-duration: 0.5s;

  background-color: white;
  cursor: pointer;
}

input:checked {
  border: solid 2px rgb(20, 146, 204);
  background-color: #222;
  transition: ease-in-out;
}
input:checked:hover {
  border: solid 2px white;
  transition: ease-in-out;
}

@media (max-width: 320px) {
  .Text-block1,
  .Text-block2,
  .Text-block3,
  .Text-block4 {
    font-size: 0.8rem;
    height: 4%;
    margin-bottom: 3%;
    left: 4%;
    letter-spacing: 0.05rem;
  }
  .image-display {
    height: 55vh;
  }
  img {
    height: 40%;
  }
  .Image_1,
  .Image_2,
  .Image_3,
  .Image_4 {
    margin-top: -21%;
  }

  input {
    border: hidden;
    background-color: rgb(20, 146, 204);
    border-radius: 50%;
    width: 2.5%;
    height: 2%;
  }

  input:checked {
    border: solid 1px rgb(20, 146, 204);
  }
  input:checked:hover {
    border: solid 1px white;
  }

  .Input1 {
    margin-bottom: 13%;
    left: 40%;
    position: absolute;
  }

  .Input2 {
    margin-bottom: 13%;
    left: 44%;
    position: absolute;
  }

  .Input3 {
    margin-bottom: 13%;
    left: 48%;
    position: absolute;
  }

  .Input4 {
    margin-bottom: 13%;
    left: 52%;
    position: absolute;
  }

  @keyframes slideinn {
    from {
      position: absolute;
      width: 70%;
    }

    to {
      position: absolute;

      width: 90%;
    }
  }
}
